@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

.detailservice-navbar {
    background: hsl(51, 82%, 89%);
    height: 10vh;
}

.navbar-text1 {
    margin-left: 9%;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #333333;
}

.detailsrvc-seller {
    margin-left: 9%;
    margin-bottom: 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #666666;
}

.detailsrvc-seller img {
    border-radius: 50%;
    object-fit: cover;
    width: 48px;
    height: 48px;
}

.detailsrvc-carousel {
    margin: 0px 15% 90px;
}

.detailsrvc-carousel .owl-carousel .owl-stage-outer .owl-stage .owl-item {
    width: 100%;
    border-radius: 16px;
}

.detailsrvc-carouselimg {
    height: 550px;
    border-radius: 16px;
    object-fit: cover;
}

.detailsrvc-carousel .owl-carousel .owl-nav .owl-prev {
    height: 56px;
    width: 56px;
    position: absolute;
    top: 225px;
    left: -28px;
}

.detailsrvc-carousel .owl-carousel .owl-nav .owl-next {
    height: 56px;
    width: 56px;
    position: absolute;
    top: 225px;
    right: -28px;
}

.detailsrvc-carousel .owl-carousel .owl-dots {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    gap: 32px;
}

.detailsrvc-carousel .owl-carousel .owl-dots .owl-dot {
    width: 12px;
    height: 12px;
    border-radius: 12px;
    background: #E5E5E5;
}

.detailsrvc-carousel .owl-carousel .owl-dots .active {
    background: linear-gradient(255.68deg, #E8504B 8.13%, #F2703C 93.86%);
}

/* Laptop, Nest Hub Max */
@media (min-width: 1200px) {
    .detailservice-navbar {
        height: 150px;
    }

    .navbar-text1 {
        font-size: 16px;
        margin-top: 40px;
        margin-bottom: 40px;
        gap: 10px;
    }

    .detailsrvc-seller {  
        font-size: 18px;
    }
}

/* Nest Hub */
@media (min-width: 992px) and (max-width: 1119.98px) {
    .detailservice-navbar {
        height: 130px;
    }

    .navbar-text1 {
        font-size: 16px;
        margin-top: 40px;
        margin-bottom: 40px;
        gap: 10px;
    }

    .detailsrvc-seller {
        font-size: 18px;
    }
}

/* Surface Pro 7, iPad Mini, iPad Air */
@media (min-width: 768px) and (max-width: 991.98px) {
    .navbar-text1 {
        font-size: 15px;
        margin-top: 40px;
        margin-bottom: 40px;
        gap: 8px;
    }

    .detailsrvc-seller {
        gap: 28px;
        font-size: 16px;
    }
}

/* Small devices */
@media (max-width: 767.98px) {
    .navbar-text1 {
        font-size: 12px;
        margin-top: 30px;
        margin-bottom: 20px;
        margin-left: 5%;
        gap: 5px;
    }

    .detailsrvc-seller {
        gap: 20px;
        font-size: 14px;
    }

    .detailsrvc-seller img {
        width: 36px;
        height: 36px;
    }
}

.detailsrvc-info {
    margin: 0px 9% 64px;
    color: #333333;
}

.detailsrvc-title {
    margin-bottom: 70px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 38px;
}

.detailsrvc-desc {
    width: 250px;
    width: calc(94vw/5);
    margin-bottom: 32px;
    padding-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 24px;
    border-bottom: solid 2px #E8504B;
}

.detailsrvc-info p {
    font-weight: 400;
    font-size: 20px;
    text-align: justify;
}

.packages-container {
    padding: 21px 9% 68px 9%;
    background: rgba(229, 229, 229, 0.2);
}

.list-rvw-header {
    padding: 32px 9% 0px 9%;
}

.list-rvw-title {
    margin-bottom: 24px;
    padding: 0 0 24px;
    width: calc(94vw/5);
    font-weight: 700;
    font-size: 24px;
    color: #333333;
    border-bottom: 2px solid #E8504B;
}

.list-review-star {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    font-weight: 600;
    font-size: 20px;
}

.list-review-star i {
    font-size: 32px;
    color: #FFC53D;
}

.list-review-star div div {
    color: #333333;
}

.list-review-star div span {
    color: #666666;
}

.loading-container {
    width: 100%;
    display: flex;
    justify-content: center;
}