@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

.review-cntr {
    width: 100%;
    padding: 30px 9vw 100px 9vw;
}

.review-cntr2 {
    width: 100%;
    max-height: 580px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow-y: scroll;
    padding-bottom: 1px;
}

.review-cntr2::-webkit-scrollbar {
    width: 10px;
}

.review-cntr2::-webkit-scrollbar-track {
    background-color: #F7F7F7;
}

.review-cntr2::-webkit-scrollbar-thumb {
    background-color: #E8504B;
}

.review-item {
    margin: 1% 0 1% 1%;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px 20px;
    gap: 10px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

.review-name-star {
    font-weight: 600;
    font-size: 16px;
    color: #262626;
}

.review-name-star div i {
    color: #FFC53D;
}

.review-review {
    font-weight: 400;
    font-size: 15px;
    margin-top: -20px;
}

/* Nest Hub */
@media (min-width: 992px) and (max-width: 1119.98px) {
    .review-cntr {
        width: 100%;
        padding: 30px 9vw 100px 9vw;
    }
    
    .review-cntr2 {
        width: 100%;
        max-height: 550px;
    }
    
    .review-cntr2::-webkit-scrollbar {
        width: 10px;
    }

    .review-item {
        margin: 1% 0 1% 1%;
        width: 95%;
        padding: 15px 20px;
        gap: 10px;
    }
    
    .review-name-star {
        font-size: 15px;
    }
    
    .review-review {
        font-weight: 400;
        font-size: 14px;
        margin-top: -20px;
    }
}

/* Surface Pro 7, iPad Mini, iPad Air */
@media (min-width: 768px) and (max-width: 991.98px) {
    .review-cntr {
        width: 100%;
        padding: 25px 8vw 100px 8vw;
    }
    
    .review-cntr2 {
        width: 100%;
        max-height: 550px;
    }
    
    .review-cntr2::-webkit-scrollbar {
        width: 8px;
    }

    .review-item {
        margin: 1% 0 1% 1%;
        width: 95%;
        padding: 15px 20px;
        gap: 10px;
    }
    
    .review-name-star {
        font-size: 14px;
    }
    
    .review-review {
        font-weight: 400;
        font-size: 13px;
        margin-top: -20px;
    }
}

/* Small devices */
@media (max-width: 767.98px) {
    .review-cntr {
        width: 100%;
        padding: 20px 8vw 50px 8vw;
    }
    
    .review-cntr2 {
        width: 100%;
        max-height: 415px;
    }
    
    .review-cntr2::-webkit-scrollbar {
        width: 8px;
    }

    .review-item {
        margin: 1% 0 1% 1%;
        width: 95%;
        padding: 10px 20px;
        gap: 10px;
    }
    
    .review-name-star {
        font-size: 13px;
    }
    
    .review-review {
        font-weight: 400;
        font-size: 12px;
        margin-top: -20px;
    }
}