@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

.servicelists11 {
    padding: 64px 9vw 40px 9vw;
    background: #e5e5e533;
}

.servicelist11-cntr {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 80px;
}

.pagination1 {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.pagination1 .page-num1 {
    padding: 5px 8px;
    border-radius: 50%;
    border: 1px solid #E8504B;
    color: #E8504B;
    font-size: 18px;
}

.pagination1 .page-num1:hover {
    background: #E8504B;
    color: #FFFFFF;
}

.pagination1 .page-num {
    text-decoration: none;
    color: #333333;
    font-size: 18px;
    font-weight: 500;
}

.pagination1 .page-num:hover {
    color: #E8504B;
}

.pagination1 .page-active {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background: linear-gradient(255.68deg, #E8504B 8.13%, #F2703C 93.86%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination1 .page-active .page-active-font {
    color: #FFFFFF;
}

/* Surface Pro 7, iPad Mini, iPad Air */
@media (min-width: 768px) and (max-width: 991.98px) {
    .servicelists11 {
        padding: 50px 8vw 40px 8vw;
    }

    .pagination1 {
        gap: 25px;
    }
    
    .pagination1 .page-num1 {
        padding: 3px 6px;
        font-size: 18px;
    }
    
    .pagination1 .page-num {
        font-size: 14px;
    }
    
    .pagination1 .page-active {
        width: 48px;
        height: 48px;
    }
}

/* Small devices */
@media (max-width: 767.98px) {
    .servicelists11 {
        padding: 40px 3vw;
    }

    .pagination1 {
        gap: 20px;
    }
    
    .pagination1 .page-num1 {
        padding: 2px 5px;
        font-size: 16px;
    }
    
    .pagination1 .page-num {
        font-size: 13px;
    }
    
    .pagination1 .page-active {
        width: 40px;
        height: 40px;
    }
}