@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

.top-container1 {
    position: relative;
}

.Banner1-1 {
    height: 550px;
    background: url('../../asset/Seller/Banner.png') bottom no-repeat;
    background-size: cover;
}

.ellipse1-1 {
    position: absolute;
    left: 43%;
    right: 0%;
    top: 10%;
    bottom: 0%;
    background: url('../../asset/Seller/Ellipse3.png') top left no-repeat;
    background-size: cover;
}

.group12 {
    position: absolute;
    right: 0;
    top: -5%;
    height: 800px;
    object-fit: contain;
}

.applyseller-cntrmid {
    background: rgba(229, 229, 229, 0.2);
    margin-top: 300px;
    padding: 70px 9vw 100px 9vw;
}

.nav-seller1 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    position: absolute;
    left: 9%;
    top: 2%;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
}

.nav-seller1 i {
    font-size: 24px;
}

.text6 {
    position: absolute;
    left: 9%;
    top: 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 60px;
    width: 500px;
    color: #333333;
}

.text6-1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 28px;
}

.text6-2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 45px;
}

.cntrmid-moto {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 60px;
}

.text6-3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 35px;
}

.text6-4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 25px;
}

.cntrmid-benefit {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
}

.midbenefit-row1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 82vw;
    gap: 200px;
}

.midbenefit-row2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 82vw;
    gap: 200px;
}

.midbenefit-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px;
    gap: 30px;
    width: calc((82vw - 400px)/3);
    height: calc((82vw - 400px)/3);
    background: #FFFFFF;
    box-shadow: 0px 2px 18px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: all 0.3s ease;
}

.midbenefit-box:hover {
    transform: scale(105%);
}

.midbenefit-box img {
    width: 60px;
    height: 60px;
    object-fit: contain;
}

.midbenefit-box div {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #333333;
    text-align: center;
}

.applyseller-formcntr {
    padding-top: 50px;
    padding-bottom: 180px;
    width: 100%;
    height: 1100px;
    background: url('../../asset/Seller/jamur.png') center no-repeat;
    background-size: cover;
}

.text6-5 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 35px;
    color: #333333;
    margin-bottom: 50px;
    text-align: center;
}

.applyseller-formcntr2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    padding: 40px 50px;
    margin: 0px auto;
    gap: 25px;
    background: #FFFFFF;
    box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.1);
}

.text6-6 {
    margin-bottom: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 25px;
}

.sellerreg-inputcntr {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
}

.sellerreg-inputcntr label {
    font-weight: 400;
    font-size: 16px;
    color: #333333;
}

.sellerreg-inputcntr label span {
    color: #E64A4E;
}

.inputfield-1 {
    background: #F4F4F4;
    border-radius: 10px;
    width: 100%;
    padding: 15px 20px;
    outline: none;
    border: none;
    font-size: 14px;
}

.inputfield-1:focus {
    outline-style: solid;
    outline-width: 1px;
    outline-color: #333333;
}

.inputphotoseller {
    width: 100%;
    position: relative;
}

.inputphotoseller input {
    width: 100%;
    padding: 15px 20px;
    position: absolute;
    top: 0;
    left: 0;
}

.custom-fileinput1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.custominputfile1-thumb {
    width: 70%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 15px 20px;
    background: #F4F4F4;
    border-radius: 10px 0px 0px 10px;
}

.custominputfil1-btn {
    width: 30%;
    background: #E5E5E5;
    border-radius: 0px 10px 10px 0px;
    padding: 15px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 14px;
}

.custominputfil1-btn:hover {
    background: #dadada;
    cursor: pointer;
}

.custominputfil1-btn img {
    width: 24px;
    height: 24px;
    object-fit: contain;
}

.submit-btn1 {
    padding: 16px 48px;
    width: 170px;
    background: linear-gradient(255.68deg, #E8504B 8.13%, #F2703C 93.86%);
    border-radius: 8px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #FFFFFF;
    border: none;
    margin-top: 60px;
}

.submit-btn1:hover {
    background: linear-gradient(255.68deg, #E8504B 8.13%, #E8504B 8.13%);
}

/* Nest Hub */
@media (min-width: 992px) and (max-width: 1119.98px) {
    .Banner1-1 {
        height: 450px;
    }

    .ellipse1-1 {
        left: 43%;
        right: 0%;
        top: 12%;
        bottom: 0%;
    }

    .group12 {
        right: 0;
        top: -10%;
        height: 620px;
    }

    .applyseller-cntrmid {
        margin-top: 170px;
        padding: 70px 9vw 100px 9vw;
    }

    .nav-seller1 {
        left: 9vw;
        top: 2%;
        font-size: 16px;
    }

    .nav-seller1 i {
        font-size: 24px;
    }

    .text6 {
        left: 9%;
        top: 18%;
        gap: 50px;
        width: 40vw;
    }

    .text6-1 {
        font-size: 24px;
    }

    .text6-2 {
        font-size: 38px;
    }

    .cntrmid-moto {
        margin-bottom: 50px;
    }

    .text6-3 {
        font-size: 30px;
    }

    .text6-4 {
        font-size: 20px;
    }

    .cntrmid-benefit {
        gap: 40px;
    }

    .midbenefit-row1 {
        width: 82vw;
        gap: 150px;
    }

    .midbenefit-row2 {
        width: 82vw;
        gap: 150px;
    }

    .midbenefit-box {
        padding: 20px;
        gap: 25px;
        width: calc((82vw - 300px)/3);
        height: calc((82vw - 300px)/3);
    }

    .midbenefit-box img {
        width: 50px;
        height: 50px;
    }

    .midbenefit-box div {
        font-size: 15px;
    }

    .applyseller-formcntr {
        padding-top: 60px;
        padding-bottom: 100px;
        height: 1050px;
    }

    .text6-5 {
        font-size: 30px;
        margin-bottom: 40px;
    }

    .applyseller-formcntr2 {
        width: 55vw;
        padding: 40px;
        gap: 20px;
        box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.1);
    }

    .text6-6 {
        margin-bottom: 15px;
        font-size: 20px;
    }

    .sellerreg-inputcntr label {
        font-size: 15px;
    }

    .inputfield-1 {
        padding: 15px 20px;
        font-size: 14px;
    }

    .inputphotoseller input {
        padding: 15px 20px;
    }

    .custominputfile1-thumb {
        width: 70%;
        padding: 15px 20px;
    }

    .custominputfil1-btn {
        width: 30%;
        padding: 15px 20px;
        font-size: 14px;
    }

    .custominputfil1-btn img {
        width: 20px;
        height: 20px;
    }

    .submit-btn1 {
        padding: 16px 40px;
        width: 170px;
        font-size: 16px;
        margin-top: 60px;
    }
}

/* Surface Pro 7, iPad Mini, iPad Air */
@media (min-width: 768px) and (max-width: 991.98px) {
    .Banner1-1 {
        height: 340px;
    }

    .ellipse1-1 {
        left: 43%;
        right: 0%;
        top: 15%;
        bottom: 0%;
    }

    .group12 {
        right: 0;
        top: -10%;
        height: 480px;
    }

    .applyseller-cntrmid {
        margin-top: 150px;
        padding: 50px 8vw 80px 8vw;
    }

    .nav-seller1 {
        left: 8vw;
        top: 2%;
        font-size: 14px;
    }

    .nav-seller1 i {
        font-size: 20px;
    }

    .text6 {
        left: 8vw;
        top: 18%;
        gap: 40px;
        width: 40vw;
    }

    .text6-1 {
        font-size: 20px;
    }

    .text6-2 {
        font-size: 30px;
    }

    .cntrmid-moto {
        margin-bottom: 50px;
    }

    .text6-3 {
        font-size: 28px;
    }

    .text6-4 {
        font-size: 18px;
    }

    .cntrmid-benefit {
        gap: 40px;
    }

    .midbenefit-row1 {
        width: 84vw;
        gap: 80px;
    }

    .midbenefit-row2 {
        width: 84vw;
        gap: 80px;
    }

    .midbenefit-box {
        padding: 20px 15px;
        gap: 15px;
        width: calc((84vw - 160px)/3);
        height: calc((84vw - 160px)/3);
        justify-content: center;
    }

    .midbenefit-box img {
        width: 40px;
        height: 40px;
    }

    .midbenefit-box div {
        font-size: 14px;
    }

    .applyseller-formcntr {
        padding-top: 50px;
        padding-bottom: 80px;
        height: 1000px;
    }

    .text6-5 {
        font-size: 28px;
        margin-bottom: 30px;
    }

    .applyseller-formcntr2 {
        width: 60vw;
        padding: 25px 30px;
        gap: 20px;
        box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.1);
    }

    .text6-6 {
        margin-bottom: 15px;
        font-size: 20px;
    }

    .sellerreg-inputcntr label {
        font-size: 14px;
    }

    .inputfield-1 {
        padding: 15px 20px;
        font-size: 13px;
    }

    .inputphotoseller input {
        padding: 15px 20px;
    }

    .custominputfile1-thumb {
        width: 65%;
        padding: 15px 20px;
    }

    .custominputfil1-btn {
        width: 35%;
        padding: 15px 20px;
        font-size: 13px;
    }

    .custominputfil1-btn img {
        width: 20px;
        height: 20px;
    }

    .submit-btn1 {
        padding: 15px 30px;
        width: 170px;
        font-size: 16px;
        margin-top: 50px;
    }
}

/* Small devices */
@media (max-width: 767.98px) {
    .Banner1-1 {
        height: 220px;
    }

    .ellipse1-1 {
        display: none;
    }

    .group12 {
        display: none;
    }

    .nav-seller1 {
        left: 8vw;
        top: 2%;
        font-size: 13px;
    }

    .nav-seller1 i {
        font-size: 20px;
    }

    .text6 {
        left: 8vw;
        top: 25%;
        gap: 30px;
        width: 80vw;
    }

    .text6-1 {
        font-size: 15px;
    }

    .text6-2 {
        font-size: 20px;
    }

    .applyseller-cntrmid {
        position: relative;
        top: -25px;
        margin-top: 0;
        padding: 60px 5vw 50px 5vw;
        z-index: -1;
    }

    .cntrmid-moto {
        margin-bottom: 30px;
    }

    .text6-3 {
        font-size: 20px;
    }

    .text6-4 {
        font-size: 15px;
        text-align: center;
    }

    .cntrmid-benefit {
        gap: 20px;
    }

    .midbenefit-row1 {
        width: 90vw;
        gap: 10px;
    }

    .midbenefit-row2 {
        width: 90vw;
        gap: 20px;
    }

    .midbenefit-box {
        padding: 10px 5px;
        gap: 10px;
        width: calc((90vw - 20px)/3);
        height: calc((90vw - 20px)/3 * 0.95);
        justify-content: center;
    }

    .midbenefit-box img {
        width: 20px;
        height: 20px;
    }

    .midbenefit-box div {
        font-size: 12px;
    }

    .applyseller-formcntr {
        padding-top: 25px;
        padding-bottom: 70px;
        height: 800px;
    }

    .text6-5 {
        font-size: 16px;
        margin-bottom: 30px;
    }

    .applyseller-formcntr2 {
        width: 85vw;
        padding: 30px 20px;
        gap: 15px;
        box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
    }

    .text6-6 {
        margin-bottom: 20px;
        font-size: 16px;
    }

    .sellerreg-inputcntr label {
        font-size: 13px;
    }

    .inputfield-1 {
        padding: 10px 20px;
        font-size: 12px;
    }

    .inputphotoseller input {
        padding: 10px 20px;
        font-size: 12px;
    }

    .custominputfile1-thumb {
        width: 60%;
        padding: 10px 20px;
    }

    .custominputfil1-btn {
        width: 40%;
        padding: 10px 10px;
        font-size: 12px;
    }

    .custominputfil1-btn img {
        width: 15px;
        height: 15px;
    }

    .submit-btn1 {
        padding: 15px 40px;
        width: 150px;
        font-size: 15px;
        margin-top: 50px;
    }
}