@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

.nav-admin-approval {
    margin: 40px 9% 50px 9%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #333333;
}

.nav-admin-approval i {
    font-size: 24px;
}