@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

.container-fluid {
    padding: 0;
}


.navbar-cntr {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 9%;
    height: 130px;
    background-color: rgb(250,243,204);
}

.navbar-logo {
    width: 177px;
    object-fit: contain;
}

.smalldvc-menu {
    font-size: 38px;
    color: #333333;
    cursor: pointer;
    display: none;
}

.navbar-cntr nav ul {
    margin: 0;
}

.navbar-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 56px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
}

.navbar-right li {
    display: flex;
}

.navbarright-item::before {
    color: #333333;
}

.navbarright-item:hover {
    color: #E8504B;
}

.navbarright-item::after {
    color: #E8504B;
}

.profilpic-navbar {
    width: 56px;
    height: 56px;
    border-radius: 56px;
    object-fit: cover;
}

.dropdown-menu {
    border: none;
    padding: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
}

.cat-list {
    width: 254px;
    max-height: 370px;
    background-color: #F7F7F7;
    box-shadow: -5px 5px 5px #33333310;
    overflow-y: scroll;
}

.cat-list1 {
    width: 240px;
    max-height: 370px;
    background-color: #F7F7F7;
    box-shadow: -5px 5px 5px #33333310;
}

.cat-list::-webkit-scrollbar {
    width: 10px;
}

.cat-list::-webkit-scrollbar-track {
    background-color: #F7F7F7;
}

.cat-list::-webkit-scrollbar-thumb {
    background-color: #E8504B;
}

.cat-list li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.cat-list li .bx-chevron-right {
    font-size: 24px;
}

.cat-list li:not(:last-child) {
    margin-bottom: 18px;
}

.cat-list li:hover {
    cursor: pointer;
    color: #E8504B;
}

.cat-list1 li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.cat-list1 li .bx-chevron-right {
    font-size: 24px;
}

.cat-list1 li:not(:last-child) {
    margin-bottom: 18px;
}

.cat-list1 li:hover {
    cursor: pointer;
    color: #E8504B;
}

.notif-list {
    width: 350px;
    background-color: #F7F7F7;
    box-shadow: -5px 5px 5px #33333310;
}

.notif-cntr {
    width: 100%;
    max-height: 300px;
    background-color: #F7F7F7;
    border-radius: 8px;
    overflow-y: scroll;
}

.notif-cntr::-webkit-scrollbar {
    width: 0px;
}

.notif-cntr li:not(:last-child) {
    margin-bottom: 18px;
}

.no-notif {
    text-align: center;
}

.notifmsg-cntr {
    background-color: white;
    padding: 15px 20px;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.notifmsg-cntn {
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-size: 16px;
}

.mark-as-read {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 12px;
    text-decoration: underline;
    color: #666666;
}

.mark-as-read:hover {
    color: #E8504B;
}

.profile-navbar {
    margin-bottom: 18px;
}

.user-username {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
}

.horizontal-line {
    width: 100%;
    height: 0px;
    border: 0.5px solid #333333;
    margin-top: 10px;
    margin-bottom: 5px;
}

.user-role {
    text-align: center;
}

.logout-btn {
    color: #E8504B;
}

/* Nest Hub */
@media (min-width: 992px) and (max-width: 1119.98px) {
    .navbar-cntr {
        height: 120px;
    }

    .navbar-logo {
        width: 150px;
    }

    .navbar-right {
        gap: 45px;
        font-size: 18px;
    }

    .profilpic-navbar {
        width: 48px;
        height: 48px;
        border-radius: 48px;
    }

    .dropdown-menu {
        padding: 25px;
        font-size: 15px;
    }

    .cat-list {
        width: 240px;
        max-height: 358px;
    }

    .notif-list {
        width: 320px;
    }

    .notif-cntr {
        max-height: 280px;
    }

    .notifmsg-cntr {
        padding: 12px 15px;
    }

    .notifmsg-cntn {
        gap: 4px;
        font-size: 14px;
    }

    .cat-list1 {
        width: 220px;
        max-height: 370px;
    }

    .cat-list1 li .bx-chevron-right {
        font-size: 20px;
    }

    .cat-list1 li:not(:last-child) {
        margin-bottom: 16px;
    }

    .user-username {
        font-size: 16px;
    }
}

/* Surface Pro 7, iPad Mini, iPad Air */
@media (min-width: 768px) and (max-width: 991.98px) {
    .navbar-cntr {
        padding: 0px 8%;
        height: 110px;
        background: hsl(51, 82%, 89%);
    }

    .navbar-logo {
        width: 130px;
    }

    .navbar-right {
        gap: 25px;
        font-size: 16px;
    }

    .profilpic-navbar {
        width: 40px;
        height: 40px;
        border-radius: 40px;
    }

    .dropdown-menu {
        padding: 20px;
        font-size: 14px;
    }

    .cat-list {
        width: 215px;
        max-height: 340px;
    }

    .cat-list::-webkit-scrollbar {
        width: 8px;
    }

    .cat-list li .bx-chevron-right {
        font-size: 22px;
    }

    .notif-list {
        width: 290px;
    }

    .notif-cntr {
        max-height: 270px;
    }

    .notif-cntr li:not(:last-child) {
        margin-bottom: 15px;
    }

    .notifmsg-cntr {
        padding: 10px 13px;
    }

    .notifmsg-cntn {
        font-size: 14px;
    }

    .cat-list1 {
        width: 200px;
        max-height: 370px;
    }

    .cat-list1 li .bx-chevron-right {
        font-size: 15px;
    }

    .cat-list1 li:not(:last-child) {
        margin-bottom: 14px;
    }

    .user-username {
        font-size: 15px;
    }
}

/* Small devices */
@media (max-width: 767.98px) {
    .navbar-cntr {
        height: 80px;
        background: hsl(51, 82%, 89%);
    }

    .navbar-logo {
        width: 120px;
    }

    .smalldvc-menu {
        display: block;
        font-size: 32px;
    }

    .navbar-cntr nav {
        display: none;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        padding: 25px 2%;
        width: 100%;
        height: 550px;
        background: #FFFFFF;
        z-index: 2;
        overflow-y: hidden;
    }

    .navbar-right {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: flex-start;
        gap: 20px;
        font-size: 16px;
    }

    .nav-toggle.show-active {
        display: block;
    }

    .dropdown-menu {
        padding: 0 10% 0 30%;
        font-size: 14px;
    }

    .cat-list {
        width: 250px;
        padding-left: 60%;
        max-height: 230px;
        box-shadow: none;
        background-color: #FFFFFF;
        box-shadow: none;
    }

    .cat-list::-webkit-scrollbar {
        width: 8px;
    }

    .cat-list li .bx-chevron-right {
        font-size: 22px;
    }

    .notif-list {
        width: 100vw;
        background-color: #F7F7F7;
        padding: 20px 30% 20px 30%;
        box-shadow: none;
    }

    .notif-cntr {
        max-height: 260px;
        background-color: #F7F7F7;
    }

    .notif-cntr li:not(:last-child) {
        margin-bottom: 15px;
    }

    .notifmsg-cntr {
        padding: 10px 13px;
    }

    .notifmsg-cntn {
        font-size: 14px;
    }

    .cat-list1 {
        width: 200px;
        max-height: 370px;
        background-color: #FFFFFF;
        box-shadow: none;
        padding-left: 10%;
    }

    .cat-list1 li .bx-chevron-right {
        font-size: 15px;
    }

    .cat-list1 li:not(:last-child) {
        margin-bottom: 14px;
    }

    .user-username {
        font-size: 15px;
        text-align: start;
    }
    
    .user-role {
        text-align: start;
    }
}