@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

.search-container {
    width: 650px;
    background-color: white;
    border-radius: 16px;
    padding: 10px 10px 10px 30px;
    filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.15));
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.search-input {
    width: 68%;
    font-weight: 400;
    font-size: 20px;
    border: none;
    outline: none;
}

.search-button {
    padding: 16px 48px;
    border-radius: 8px;
    background: linear-gradient(255.68deg, #E8504B 8.13%, #F2703C 93.86%);
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 20px;
    transition: all 0.5s ease;
}

.search-button:hover {
    background: linear-gradient(255.68deg, #E8504B 8.13%, #E8504B 8.13%);
}