@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

.top-container {
    position: relative;
}

.Banner1 {
    height: 638px;
    background: url('../../asset/HomePage/Banner.png') bottom no-repeat;
    background-size: cover;
}

.ellipse1 {
    position: absolute;
    left: 43%;
    right: 0%;
    top: 36.3%;
    bottom: 0%;
    background: url('../../asset/HomePage/Ellipse3.png') no-repeat;
    background-size: cover;
}

.pose1 {
    position: absolute;
    left: 0%;
    top: -22%;
}

.text1-container {
    position: absolute;
    left: 10%;
    top: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    color: #333333;
}

.text1-1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 48px;
}

.text1-2 {
    font-weight: 400;
    font-size: 32px;
}

.searchbox-cntr {
    position: absolute;
    left: 10%;
    top: 60%;
}

.textcategory-container {
    margin-top: 70px;
    margin-bottom: 88px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    color: #333333;
}

@media (max-width: 991.98px) {
    .Banner1 {
        height: 38vh;
    }

    .pose1 {
        top: -15%;
        width: 95%;
    }
}

@media (max-width: 767.98px) {
    .Banner1 {
        height: 350px;
    }

    .ellipse1,
    .pose1 {
        display: none;
    }
}

@media (max-width: 575.98px) {
    .Banner1 {
        height: 30vh;
        background-size: cover;
    }

    .ellipse1,
    .pose1 {
        display: none;
    }
}