@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 95px;
    background: #faf3cc;
}

.container-navbar {
    width: 100%;
    height: 95px;
    padding-top: 15px;
    display: flex;
    align-items: center;
}

/* logo */
.logo-container {
    position: absolute;
    left: 9vw;
}

.logo-container img {
    width: 150px;
    height: calc(150px * (31px / 177px));
    object-fit: contain;
}

/* hamburger */
.hamburger {
    font-size: 30px;
    display: none;
}

/* right navbar */
.right-nav-cntr {
    position: absolute;
    right: 9vw;
}

.right-nav-cntr ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    margin: 0;
    list-style-type: none;
}

.loginnav-btn {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 18px;
}

.loginnav-btn:hover {
    color: #E8504B;
}

.profile-pic-navbar {
    width: 48px;
    height: 48px;
    border-radius: 48px;
    object-fit: cover;
    position: relative;
}

/* Midlle navbar items */
.navmid-cntr {
    position: absolute;
    right: calc(9vw + 88px + 25px + 40px);
}

.navmid-notlogin {
    right: calc(9vw + 50px + 40px);
}

.midnavbar-cntr {
    display: none;
}

.navmid-cntr ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 18px;
    list-style-type: none;
}

.navmid-cntr ul li:hover {
    color: #E8504B;
}

/* Category */
.cat-dropdown-cntr {
    position: relative;
}

.cat-dropdown-menu {
    position: absolute;
    top: 45px;
    left: 0;
    z-index: 99;
    width: 220px;
    background-color: #F7F7F7;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 30px 25px 30px 25px;
}

.cat-dropdown-menu::before {
    content: '';
    position: absolute;
    top: -7px;
    left: 10%;
    z-index: 99;
    width: 20px;
    height: 20px;
    background-color: #F7F7F7;
    transform: rotate(45deg);
}

.cat-active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: 0.5s ease;
}

.cat-inactive {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: 0.5s ease;
}

.cat-dropdown-menu ul {
    width: 100%;
    max-height: 370px;
    background-color: #F7F7F7;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    margin: 0;
    padding: 0;
}

.cat-dropdown-menu ul::-webkit-scrollbar {
    width: 0px;
}

.catbutton i {
    display: none;
}

.cat-dropdown-menu ul li {
    color: #333333;
    font-size: 15px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.cat-dropdown-menu ul li i {
    font-size: 18px;
}

/* Surface Pro 7, iPad Mini, iPad Air */
@media (min-width: 768px) and (max-width: 991.98px) {
    header {
        height: 80px;
    }
    
    .container-navbar {
        height: 80px;
        padding-top: 10px;
    }

    /* logo */
    .logo-container {
        left: 8vw;
    }

    .logo-container img {
        width: 120px;
        height: calc(120px * (31px / 177px));
    }

    /* right navbar */
    .right-nav-cntr {
        right: 8vw;
    }

    .loginnav-btn {
        font-size: 16px;
    }

    .profile-pic-navbar {
        width: 40px;
        height: 40px;
        border-radius: 40px;
    }

    /* Midlle navbar items */
    .navmid-cntr {
        right: calc(8vw + 88px + 25px + 40px);
    }

    .navmid-notlogin {
        right: calc(8vw + 50px + 40px);
    }

    .navmid-cntr ul {
        gap: 30px;
        font-size: 16px;
    }

    .cat-dropdown-menu {
        top: 40px;
        padding: 25px 20px;
        width: 200px;
    }

    .cat-dropdown-menu::before {
        width: 15px;
        height: 15px;
    }

    .cat-dropdown-menu ul {
        gap: 15px;
        margin: 0;
        padding: 0;
    }

    .cat-dropdown-menu ul li {
        font-size: 13px;
    }
}

/* Small devices */
@media (max-width: 767.98px) {
    header {
        height: 75px;
    }

    .container-navbar {
        height: 75px;
        padding-top: 5px;
    }

    .hamburger {
        font-size: 30px;
        display: flex;
        align-items: center;
        position: absolute;
        left: 5vw;
    }

    .logo-container {
        left: 18vw;
    }

    .logo-container img {
        width: 120px;
        height: calc(120px * (31px / 177px));
    }

    /* right navbar */
    .right-nav-cntr {
        right: 5vw;
    }

    .right-nav-cntr ul {
        gap: 20px;
    }

    .loginnav-btn {
        font-size: 14px;
        margin-right: 10px;
    }

    .profile-pic-navbar {
        width: 38px;
        height: 38px;
        border-radius: 38px;
    }

    /* middle navbar */
    .navmid-cntr {
        position: fixed;
        top: 0;
        left: -100vw;
        z-index: 99;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        background-color: #FFFFFF;
        transition: all 1s ease;
        padding-bottom: 30px;
    }

    .navmid-cntr ul li:hover {
        color: #333333;
    }

    .navmid-active {
        transform: translateX(100vw);
    }

    .navmid-inactive {
        transform: translateX(-100vw);
    }

    .midnavbar-cntr {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background: #F7F7F7;
        width: 100vw;
        height: 80px;
        padding: 25px 30px;
        margin-bottom: 25px;
    }

    .midnavbar-cntr div {
        font-size: 40px;
        color: #E8504B;
    }

    .navmid-cntr ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
        padding: 0px 30px 30px 30px;
        font-weight: 600;
        font-size: 16px;
        max-height: calc(100vh - 135px);
        overflow-y: scroll;
    }

    .cat-dropdown-cntr {
        position: static;
    }

    .cat-dropdown-menu {
        position: static;
        top: 0;
        left: 0;
        z-index: 99;
        width: 100%;
        margin-top: 20px;
        margin-left: 10px;
        background-color: #FFFFFF;
        box-shadow: none;
        border-radius: 0;
        padding: 0px 0px 0px 20px;
        border-left: 2px solid #E8504B;
    }

    .cat-dropdown-menu::before {
        display: none;
    }

    .cat-active {
        transform: translateY(0);
    }

    .cat-inactive {
        display: none;
    }

    .cat-dropdown-menu ul {
        width: 100%;
        max-height: fit-content;
        background-color: #FFFFFF;
        overflow-y: visible;
        gap: 15px;
        margin: 0;
        padding: 0;
    }

    .catbutton {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .catbutton i {
        display: flex;
        font-size: 22px;
        margin-left: 10px;
    }
}